{:target :nodejs
 :output-to "../../target/liblevenshtein-cljs/main.cjs"
 :output-dir "../../target/liblevenshtein-cljs/out"
 :npm-deps {"@vinary-tree/liblevenshtein" "file:."
            "@vinary-tree/libdictenstein" "file:../../../libdictenstein/bindings/javascript"}
 :install-deps false
 :optimizations :none
 :main vinary-tree.liblevenshtein-cljs-test}
