{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        io.vinarytree/liblevenshtein {:mvn/version "4.0.0-rc.4"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :override-deps
   {io.vinarytree/vinary-tree-interop
    {:local/root "../../../vinary-tree-interop/bindings/jvm"}
    io.vinarytree/liblevenshtein {:local/root "../jvm"}}
   :main-opts ["-m" "vinary-tree.liblevenshtein-test-runner"]}}}
