{:paths ["cljs" "test/cljs"]
 :deps {org.clojure/clojurescript {:mvn/version "1.12.145"}
        io.vinarytree/libdictenstein-cljs
        {:local/root "../../../libdictenstein/bindings/javascript"}}
 :aliases
 {:cljs-test
  {:main-opts ["-m" "cljs.main" "-co" "test/cljs.edn"
               "-c" "vinary-tree.liblevenshtein-cljs-test"]}}}
